* {
  margin: 0;
  padding: 0;
}

.tab {
  border: 1px solid black;
}

.headsContainer {
  display: flex;
  justify-content: space-evenly;
}
.item {
  background-color: red;
  width: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.item.active {
  background-color: brown;
}
.contentContainer {
  background-color: gray;
  padding: 10px;
}
